---
title: 'Infinity Home Solutions | Michigan Roofing, Siding, Windows & Insulation Contractor'
description: 'Infinity Home Solutions is a trusted, family owned Michigan contractor specializing in roofing, siding, window replacement, and insulation. Serving Metro Detroit. Licensed, insured, backed by a 10-year labor warranty and 100% satisfaction guarantee.'
permalink: "/"
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base.html" %}

{% block head %}


    {% include "components/home-schema.html" %}
{% endblock %}

{% block body %}


{% include 'components/hero.html' %}
{% include 'components/2.html' %}
{% include 'components/3.html' %}
{% include 'sections/homepics.html' %}

{% include 'sections/steps.html' %}
{% include 'sections/map.html' %}
{% include 'sections/testimonial.html' %}

{% include 'sections/cta.html' %}




{% endblock %}